.main {
  width: 50%;
  margin: auto;
  text-align: center;
}

.board {
  height: 500px;
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 30px 0;
}

.box {
  border: 1px solid;
  font-size: 30px;
  padding-top: 60px;
  font-weight: 700;
}
